:root{
	--titlecolor:darkgreen;
	--titlebox-color:hsl(140,30%,70%);
	--buttoncolor:hsl(120, 100%, 25%);
	--shadowcolor:hsl(0,0%,30%);
	--outline-hover-fill-color:hsl(140,30%,80%);
	--contained-hover-fill-color:hsl(120,100%,30%);
}
body {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background-color:white;
    width:100vw;
    min-height:100vh;
    padding:0;
    margin:0;
    flex-grow:1;
}

#whitebox{
    min-height:90vh;
    margin-top:0;
    margin-bottom:0;
    padding:0;
    width:100vw;
    background-color:white;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
}

#whitebox p{
padding:3vw;
font-size:3vh;
}


h2{    
	font-size:4vh;
	color: var(--titlecolor)
}
.copyright-link{
	text-align:left;
	color: var(--titlecolor)
}

#boring_phrase {
    color:hsl(360,50%,50%);
}

#buttons{
    justify-self:flex-end;
    height:10vh;
    margin-bottom: 3vh;
}

#buttons button{
    font-size:3vh;
    margin:0px 10px;
    height:10vh;
    width:40vw;
    transition: 0.4s;
}

.mybtn{
	background-color:hsla(0,0%,0%,0);
	border-width: 0;
	border-radius: 0.5em;

}
.contained-btn{
	color: white;
	background-color: var(--buttoncolor);
	box-shadow: 0px 3px 3px 0px var(--shadowcolor);
}
.contained-btn:hover{
	color: white;
	background-color: var(--contained-hover-fill-color);
	box-shadow: 0px 3px 7px 0px var(--shadowcolor);
}
.outline-btn{
	color: var(--buttoncolor);
	_border: solid 1px var(--buttoncolor);
}
.outline-btn:hover{
	color: var(--buttoncolor);
	background-color: var(--outline-hover-fill-color);
}
#input_field{

    font-size:3vh;
    height:10vh;
    width:90%;
    text-align:center;

}
#message{
    text-align:center;
}

.titlebox{
	flex-grow:1;
	width:100vw;
	background-color: var(--titlebox-color);
	text-align:center;
}
