
body {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background-color:hsl(140,30%,70%);
    width:100vw;
    min-height:100vh;
    margin:0;
    flex-grow:1;
}

#whitebox{
    min-height:90vh;
    margin-top:0vw;
    margin-bottom:0vw;
    width:95vw;
    border: solid 1px darkgreen;
    border-radius:10px;
    background-color:white;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
}

#whitebox p{
padding:3vw;
font-size:3vh;
}

#whitebox h2{
    font-size:4vh;
}

#boring_phrase {
    color:hsl(360,50%,50%)
}

#buttons{
    justify-self:flex-end;
    height:10vh;
    margin-bottom: 3vh;
}

#buttons button{
    font-size:3vh;
    margin:0px 10px;
    height:10vh;
    width:40vw;
}
#input_field{

    font-size:3vh;
    height:10vh;
    width:90%;

}
